.label{
    color:white;
    font-weight: 500;

}
.select {
    float: right;
    padding: 2px;
    width: 100px;
    text-align: center;
    font-weight: 900;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-bottom: 2px;
    
}
.div{
    /* clear:both */
}
